* {
  transition-duration: 0.8s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-color: blue; */
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  /* background: linear-gradient(to top, #fff, #fff 10%, transparent); */
  /* background: radial-gradient( skyblue, white ); */
  background: radial-gradient(
    circle at 50% 50%,
    black,
    rgba(5, 32, 52, 0.7) 60%,
    black
  );
  background-position: center;
  color: white;
}
video {
  /* width: 100%; */
  height: 100%;
  opacity: 0.15;
  z-index: -1;
}
.video {
  position: absolute;
  width: 700px;
  height: 700px;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -60%);
  overflow: hidden;
  border-radius: 50%;
}
#home-img {
  width: 200px;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}

.rrd-text-wrapper {
  justify-content: space-around;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}
.rrd-text h3 {
  /* margin: 30px 0; */
  text-align: center;
}
.rrd-text {
  position: relative;
  width: 60%;
}
.process {
  width: 100px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  text-align: center;
  overflow: hidden;
}
.process h3 {
  font-size: 17px;
}
.process h5 {
  font-size: 10px;
  font-weight: 100;
}
.process:hover {
  width: 500px;
  height: 160px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
}
.process:hover .process-hide {
  display: block;
}
.process-hide {
  display: none;
}
.process-hide p {
  margin-top: 10px;
  font-size: 10px;
  line-height: 25px;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
.main-chart-wrapper {
  width: 400px;
  height: 200px;
  /* margin-top: 50px; */
  /* background-color: white; */
}

/* effect */
.effect {
  width: 100%;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.effect h2 {
  font-size: 20px;
  font-weight: 400;
}
.effect p {
  font-size: 12px;
  font-weight: 100;
}
.effect-add {
  width: 50%;
}
.effect-adsp {
  width: 50%;
}

/* data table */
.rrd-data {
  margin: 30px auto;
  width: 95%;
  height: 35vh;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
}
.rrd-data h2 {
  margin-bottom: 5px;
  text-align: center;
}
.rrd-data th {
  table-layout: fixed;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.rrd-data th:nth-child(1){
  width: 12%;
}
.rrd-data th:nth-child(2){
  width: 12%;
}
.rrd-data th:nth-child(3){
  width: 12%;
}
.rrd-data th:nth-child(4){
  width: 12%;
}
.rrd-data th:nth-child(5){
  width: 40%;
}
.rrd-data th:nth-child(6){
  width: 12%;
}
.rrd-data td {
  /* border: 1px solid white; */
  table-layout: fixed;
  width: 16%;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}
#rrd-data-col table {
  width: 100%;
}
#rrd-data-data {
  width: 100%;
}
#rrd-data-data td {
  font-size: 14px;
  text-align: center;
}
#rrd-data-data td:nth-child(1){
  width: 12%;
}
#rrd-data-data td:nth-child(2){
  width: 12%;
}
#rrd-data-data td:nth-child(3){
  width: 12%;
}
#rrd-data-data td:nth-child(4){
  width: 12%;
}
#rrd-data-data td:nth-child(5){
  width: 40%;
}
#rrd-data-data td:nth-child(6){
  width: 12%;
}
/* scroll */
.rrd-table-wrapper {
  overflow: auto;
  margin-right: 5px;
}
.rrd-table-wrapper::-webkit-scrollbar {
  width: 10px;
}
.rrd-table-wrapper::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}
.rrd-table-wrapper::-webkit-scrollbar-track {
  border: 5px solid rgba(255, 255, 255, 0);
  /* background: rgba(255, 255, 255, 0.1); */
}

.service-wrapper {
  width: 95%;
  height: 20vh;
  margin: 0 auto;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  justify-content: space-around;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  padding: 10px 0;
}
.service {
  width: 45%;
  height: 100%;
}
#select-data {
  color: white;
  background-color: rgba(59, 87, 121, 0.4)
}
#select-data option{
  background-color: rgba(59, 87, 121, 0.4)
}
.down {
  width: 240px;
  height: 40px;
  /* justify-content: space-between; */
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden;
}
.down h3 {
  padding: 2px;
  font-size: 13px;
  font-weight: 500;
}
.down span {
  margin: 3px;
  font-size: 10px;
  margin-left: 10px;
}
.down:hover {
  width: 500px;
  cursor: pointer;
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  border: 1px solid white;
}
.down:hover .down-hide {
  display: block;
}
.down-hide {
  margin-left: 40px;
  display: none;
}
.down-hide a {
  text-decoration: none;
  color: white;
  font-size: 7px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 2px;
}
.down-hide select {
  width: 120px;
  /* margin-left: 100px; */
}
.down-hide select option:nth-child(1) {
  text-align: center;
}
.down-hide select option:nth-child(n + 2) {
  text-align: right;
}

.something {
  width: 240px;
  height: 40px;
  /* justify-content: space-between; */
  border: 1px solid white;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.something a {
  height: 30px;
  padding: 2px;
  /* border: 1px solid white;
  border-radius: 10px; */
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.something span {
  margin: 3px;
  font-size: 10px;
  margin-left: 10px;
}
.something:hover {
  width: 500px;
  cursor: pointer;
  border-radius: 5px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  border: 1px solid white;
}
.something:hover .something-hide {
  display: block;
}
.something-hide {
  display: none;
}
.something-hide input {
  margin-left: 30px;
  margin-top: 18px;
}

.chart-section {
  width: 25%;
  height: 100%;
  background-color: black;
}
.other-section {
  width: 25%;
  height: 100%;
  background-color: black;
}
.QnA {
  transition-duration: 0s;
  width: 240px;
  height: 40px;
  /* justify-content: space-between; */
  border: 1px solid white;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(59, 87, 121, 0.4) 100%
  );
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  /* overflow: hidden; */
}
.QnA a {
  /* width: 100%; */
  height: 30px;
  padding: 2px;
  text-decoration: none;
  color: white;
  font-size: 13px;
  /* text-align: center; */
}
/* .QnA:hover {
  width: 500px;
  cursor: pointer;
  border-radius: 5px;
} */
/* .QnA:hover .QnA-hide {
  display: block;
} */
.QnA-hide {
  display: none;
}
.QnA-hide p{
  font-size: 3px;
  margin-left: 30px;
}
.QnA-popup{
  display: none;
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 0.8;
  border: 1px solid white;
  border-radius: 10px;
  z-index: 3;
  bottom: 40px;
  /* left: 100px; */
  right: 0;
  cursor: auto;
}
.QnA span {
  margin: 2px;
  font-size: 8px;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 1px;
  border-radius: 10px;
}
.QnA-popup-close{
  margin-left: 280px;
  margin-top: 5px;
  background-color: red;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 2;
}
.QnA-popup-input{
  width: 90%;
  height: 80%;
  margin: 5px auto;
  color: black;
}
.QnA-popup-input textarea{
  width: 100%;
  height: 100%;
}
#QnA-popup-submit{
  width: 100px;
  margin-left: 100px;
  border-radius: 5px;
}